################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeliveryP1/.vs/DeliveryP1/v17/Browse.VC.opendb
/.vs/netProg-anotherone/v17/Browse.VC.opendb
